/* Add styles here */

body {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

path {
  /*shape-rendering: crispEdges;*/
  stroke-width: 0.5;
  stroke: black;
}

/*line.main {
  stroke-opacity: 0.8;
  stroke-width: 0px !important;
}
circle {
  sroke-opacity: 0.5;
}*/


.nodata {
  fill: #ccc;
}
.ok {
  fill: rgb(22,167,34);
}
.slowing {
  fill: rgb(253,158,59);
}
.slow {
  fill: rgb(251,0,7);
}
.stopped {
  fill: rgb(174,0,4);
}